<%- model_class = Practicum -%>
<div class="page-header">
    <h1>Data Praktikum</h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.Tambah")),
            new_practicum_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped">
    <thead>
        <tr>
            <th><%= model_class.human_attribute_name(:id_praktikum) %></th>
            <th><%= model_class.human_attribute_name(:nama_praktikum) %></th>
            <th><%=t '.actions', :default => t("helpers.Aksi") %></th>
        </tr>
    </thead>
    <tbody>
        <% @practicums.each do |practicum| %>
        <tr>
            <td><%= practicum.id_practicum %></td>
            <td><%= practicum.practicum_name %></td>
            <td>
                <%= link_to t('.edit', :default => t("helpers.links.Edit")),
                      edit_practicum_path(practicum), :class => 'btn btn-success' %>
                <%= link_to t('.destroy', :default => t("helpers.links.Hapus")), practicum_path(practicum), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Anda ingin menghapus data ?')) }, :class => 'btn
                btn-danger' %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
