<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

<% if @project.errors.any? %>
<div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %>
            prohibited this project from being saved:</h3>
    </div>
    <div class="panel-body">
        <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>

<% if @project.id_project %>
<div class="form-group">
    <%= f.label :id_project, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= f.text_field :id_project, :class => 'form-control', :disabled => true %>
    </div>
    <%=f.error_span(:id_project) %>
</div>
<% end %>

<div class="form-group">
    <%= f.label :nama_project, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= f.text_field :name_project, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name_project) %>
</div>

<div class="form-group">
    <%= f.label :penanggung_jawab, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= f.collection_select :responsibles_id_assistant, Responsible.all, :id, :name, {prompt: "Pilih Penanggung Jawab"}, {class: "form-control"} %>
    </div>
    <%=f.error_span(:responsibles_id_assistant) %>
</div>

<div class="form-group">
    <%= f.label :file, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= f.file_field :name_file, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name_file) %>
</div>

<div class="form-group">
    <%= f.label :praktikum, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= f.collection_select :practicum_id_practicum, Practicum.all, :id, :practicum_name, {prompt: "Pilih Praktikum"}, {class: "form-control"} %>
    </div>
    <%=f.error_span(:practicum_id_practicum) %>
</div>

<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
        <% if @project.id_project %>
        <%= f.submit :update, :class => 'btn btn-success' %>
    <% else %>
        <%= f.submit :simpan, :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn btn-default' %>
    </div>
</div>

<% end %>
