<%- model_class = Project -%>
<div class="page-header">
    <h1>Data Project Pribadi</h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.Tambah")),
            new_project_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th class="text-center"><%= model_class.human_attribute_name(:id_project) %></th>
            <th class="text-center"><%= model_class.human_attribute_name(:nama_project) %></th>
            <th class="text-center"><%= model_class.human_attribute_name(:nama_file) %></th>
            <th class="text-center"><%= model_class.human_attribute_name(:penanggung_jawab) %></th>
            <th class="text-center"><%= model_class.human_attribute_name(:Praktikum) %></th>
            <th class="text-center"><%=t '.actions', :default => t("helpers.Aksi") %></th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
        <tr>
            <td><%= project.id_project %></td>
            <td><%= project.name_project %></td>
            <td><%= project.name_file %></td>
            <td><%= project.name %></td>
            <td><%= project.practicum_name %></td>
            <td class="text-center">
                <%= link_to t('.edit', :default => t("helpers.links.Edit")),
                      edit_project_path(project), :class => 'btn btn-success' %>
                <%= link_to t('.destroy', :default => t("helpers.links.Hapus")), project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Anda ingin menghapus data ?')) }, :class => 'btn
                btn-danger' %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
